<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body onload="javascript:f()" xmlns:th="http://www.thymeleaf.org">
<header class="bg-dark">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/change-role">Change role</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/register">Register new employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reports">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/categories">Categories</a>
                </li>
                <li style="    padding-top: 8px;
    padding-right: 15px;padding-left: 15px">
                    <p>
                        <span style="white-space: nowrap ; color: white;"> <i class="fa fa-user"></i></span>
                        <span style="white-space: nowrap ; color: white;">  <th:block
                                th:text="${username}"></th:block></span>
                    </p>



                </li>

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
</header>
<br/>
<br/>
<br/>

<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-5">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <span style="white-space: nowrap ;"><i class="fa-solid fa-calendar-plus"></i></span>
                        <span style="white-space: nowrap ;"> Events</span>
                    </h4>
                    <h2 th:text="${eventsSize} + ${' events'}"></h2>



                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <span style="white-space: nowrap ;"><i class="fa-solid fa-calendar-plus"></i></span>
                        <span style="white-space: nowrap ;"> Users</span>
                    </h4>
                    <h2 th:text="${usersSize} + ${' users'}"></h2>



                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <span style="white-space: nowrap ;"><i class="fa-solid fa-calendar-plus"></i></span>
                        <span style="white-space: nowrap ;"> Reports</span>
                    </h4>
                    <h2 th:text="${reportsSize} + ${' reports'}">150 events</h2>



                </div>
            </div>
        </div>

    </div>
    <br/>
    <br/>
    <br/>
    <canvas id="myChart" style="width:100%;max-width:700px" ></canvas>
    <div class="row row-cols-1 row-cols-md-4 g-5">
        <div class="col">
            <h3>Reports</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Event id</th>
            <th scope="col">Type</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${reports}">
            <td>u.getEventId()</td>
            <td>u.getType()</td>
            <td>

                <a th:href="@{'/reports/{id}' (id=${report.getId()})}"
                   class="btn btn-sm btn-info edit-balloon"><i class="fa fa-details">Details</i></a>
           </td>
        </tr>


        </tbody>
    </table>
    </div>
        <div class="col">
            <h3>Last events</h3>

            <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Created by</th>

                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${event.title()}">drilon</td>
                <td th:text="${event.category()}"></td>
                <td th:text="${event.createdBy()}"></td>

                <td>
                    <a th:href="@{'/dashboard/events/{id}/details' (id=${event.id()})}"
                       class="btn btn-sm btn-info edit-balloon"><i class="fa fa-details">Details</i></a>
               </td>
            </tr>


            </tbody>
        </table></div>
    </div>
</div>




</body>

<script th:inline="javascript">


    function f() {

        var param = [[${categories}]];
        console.log(param);
        var xValues = ["Sports", "Music", "Seminar", "Conference", "Arts","Speech"];
        var yValues = [param.Sports, param.Music, param.Seminar, param.Conference, param.Arts,param.Speech,0];
        var barColors = ["red", "green","blue","orange","brown"];

        new Chart("myChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: {display: false},
                title: {
                    display: true,
                    text: "Events by category"
                }
            }
        });
    }



</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>


</html>