<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/books">Events</a></li>
                        <li class="breadcrumb-item active" aria-current="page"
                            th:text="${event.getEventInfo().getTitle()}"></li>
                        <li class="d-flex justify-content-end breadcrumb-item">

                        </li>

                    </ol>
                </nav>
            </div>
            <form th:action="@{'/dashboard/events/{id}/delete' (id=${event.getId()})}"
                  th:method="POST">
                <button type="submit" class="btn btn-sm btn-danger delete-balloon"><i
                        class="fa fa-trash">Delete</i>
                </button>
            </form>

        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img property="image" th:src="${event.getEventInfo().getCoverImage().getImageBase64()}" alt="avatar"
                             class="img-fluid" style="width: 150px;">
                        <h5 class="my-3" property="name" th:text="${event.getEventInfo().getTitle()}"></h5>
                        <p class="text-muted mb-4" property="birthPlace"
                           th:text="${event.getEventTimes().getCreatedTime()}"></p>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" property="name"
                                   th:text="${event.getEventInfo().getTitle()}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Abstract</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" property="knowsAbout"
                                   th:text="${event.getEventInfo().getDescription()}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Location</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" property="birthDate"
                                   th:text="${event.getAddress().getLocation()}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Created by</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" property="deathDate"
                                   th:text="${event.getEventInfo().getCreatedBy()}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Duration</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" property="birthPlace"
                                   th:text="${event.getEventTimes().getDuration()}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Guests</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" property="birthPlace"
                                   th:text="${event.getGuests().getGuests()}"></p>
                            </div>
                        </div>
                        <hr>
            </div>
               <div class="row">
                           <div class="col-sm-3">
                               <p class="mb-0">gallery</p>
                           </div>
                           <div class="col-sm-9" th:each="imgs : ${event.getEventInfo().getImages()}">
                               <img class="text-muted mb-0" property="birthPlace"
                                  th:src="${imgs.getImageBase64()}" style="width: 100px;height: 100px">

                           </div>
                       </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-4"> Comments
                                </p>
                                <label>Write your comment about this event</label> <br/>
                                <form th:action="@{'/events/{id}/addComment' (id=${event.getId()})}"
                                      th:method="POST">
                                    <textarea name="message" class="ps-5 pb-5"></textarea> <br/>
                                    <button id="submit-from-add-balloon" type="submit" class="btn btn-primary">Submit
                                    </button>

                                </form>
                                <div class="headings d-flex justify-content-between align-items-center mb-3">
                                    <h5 th:text="${'Comments '} + ${event.getComments().size()}"></h5>

                                    <div class="buttons">

                            <span class="badge bg-white d-flex flex-row align-items-center">
                                <span class="text-primary">Comments "ON"</span>
                                <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                </div>
                            </span>
                                    </div>
                                </div>
                                <div th:if="${event.getComments().size() != 0}"
                                     th:each="comment : ${event.getComments()}" typeof="Book">
                                    <div class="container mt-5">

                                        <div class="row  d-flex justify-content-center">

                                            <div class="col-md-12">



                                                <div class="card p-3">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="user d-flex flex-row align-items-center">
                                                            <img src="https://i.imgur.com/hczKIze.jpg" width="30"
                                                                 class="user-img rounded-circle mr-2">
                                                            <span><small class="font-weight-bold text-primary"
                                                                         th:text="${comment.getComment().getUsername()}"></small>
                                                                <small th:text="${comment.getComment().getMessage()}"
                                                                       class="font-weight-bold"></small></span>
                                                        </div>
                                                        <small>2 days ago</small>
                                                    </div>
                                                    <div class="action d-flex justify-content-between mt-2 align-items-center">

                                                        <div class="reply px-4">
                                                            <small>Remove</small>
                                                            <span class="dots"></span>
                                                            <button class="btn default"  th:onclick="'javascript:makeReply(\'' + ${comment.getId()} + '\');'">Reply</button>

                                                            <span class="dots"></span>
                                                            <small>Translate</small>
                                                        </div>
                                                        <div class="icons align-items-center">

                                                            <i class="fa fa-star text-warning"></i>
                                                            <i class="fa fa-check-circle-o check-icon"></i>
                                                        </div>
                                                    </div>
                                                    <div class="card p-3  mx-5" th:if="${comment.getReplies().size() != 0}">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div class="user d-flex flex-row align-items-center" th:each="reply : ${comment?.getReplies()}">
                                                                <img src="https://i.imgur.com/hczKIze.jpg" width="30"
                                                                     class="user-img rounded-circle mr-2">
                                                                <span><small class="font-weight-bold text-primary"
                                                                             th:text="${reply.getUsername()}"></small>
                                                                <small th:text="${reply.getMessage()}"
                                                                       class="font-weight-bold"></small></span>
                                                            </div>
                                                            <small>2 days ago</small>
                                                        </div>
                                                    </div>
                                                    <div  th:id="${comment.getId()}" style="display:none">
                                                        <label th:text="${'Reply to '} + ${comment.getComment().getUsername()}"></label>
                                                        <form th:action="@{'/events/{id}/addReplies/{idComment}' (id=${event.getId()},idComment=${comment.getId()})}"
                                                              th:method="POST">
                                                            <textarea name="reply"></textarea>
                                                            <button  type="submit" class="btn btn-sm btn-primary">Submit </button>

                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function makeReply(id){
        let display = document.getElementById(id);
        if (display.style.display === 'none'){
            display.style.display = "block"
        }else{
            display.style.display = 'none'
        }
    }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

</body>
</html>