<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mb-4" xmlns:th="http://www.thymeleaf.org">



<form enctype="multipart/form-data" th:method="POST"
th:action="@{'/upload/image'}">

    <div>
        <label>Photos: </label>
        <input type="file" name="image" multiple accept="image/png, image/jpeg" />
        <input type="submit">
    </div>
</form>


    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">
                    Name of Category </th>
                <th scope="col">
                    Description</th>
                <th scope="col">
                    Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event : ${imagesList}">
                <td th:text="${event.getName()}"></td>
                <td th:text="${event.getType()}"></td>
                <td> <img th:src="${event.getImageBase64()}" style="width: 100px;height: 100px" alt=""></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>