<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<section class="about-banner relative" id="banners">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Profile
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<br/>

<div class="container"  xmlns:th="http://www.thymeleaf.org">

    <div class="container text-center">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="/profile">My profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-danger" href="/logout"> <i class="fa fa-sign-out"></i>Logout</a>
            </li>

        </ul>
    </div>

    <section>

        <div class="card">
            <div class="card-body">


                <h1 class="text-center" th:text="${user.getName() + ' ' + user.getSurname()}"></h1>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="row">@username</th>
                        <td><span th:text="${user.getUsername()}"></span></td>
                    </tr>

                   <!-- <tr>
                        <th scope="row">Email</th>
                        <td><span th:text="${user.getEmail()}"></span></td>
                    </tr>-->

                    <tr>
                        <th scope="row">Role</th>
                        <td><span th:text="${user.getRole()}"></span></td>
                    </tr>

                    <tr>
                        <th scope="row">Account active</th>
                        <td><span th:text="${user.isEnabled()}"></span></td>
                    </tr>

                    <tr>
                        <th scope="row">Following</th>
                        <td><span th:text="${user.getFollowing().size()}"></span></td>
                    </tr>

                    <tr>
                        <th scope="row">Followers</th>
                        <td><span th:text="${user.getFollowers().size()}"></span></td>
                    </tr>
                    </thead>
                </table>

                <div class="container text-center">

                    <th:block th:if="${isFollowing}">
                        <form th:action="@{'/profile/unfollow/{username}' (username=${user.getUsername()})}" th:method="POST">

                        <button type="submit" class="btn btn-sm btn-danger delete-balloon"><i
                                class="fa fa-trash">Unfollow</i>
                        </button>
                        </form>

                    </th:block>

                    <th:block th:if="${isFollowing == false}">

                    <form th:action="@{'/profile/follow/{username}' (username=${user.getUsername()})}"
                          th:method="POST">
                        <button type="submit" class="btn btn-sm btn-danger delete-balloon"><i
                                class="fa fa-trash">Follow</i>
                        </button>
                    </form>
                    </th:block>

                </div>
            </div>
        </div>

    </section>

</div>
</body>
</html>