<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>


<br/>
<div class="container mb-4" xmlns:th="http://www.thymeleaf.org">
    <section class="about-banner relative" id="banners">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Reports
                    </h1>
                </div>
            </div>
        </div>
    </section>
   <br/>
    <Br/>
    <br/>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">
                            Name of Category </th>
                        <th scope="col">
                            Description</th>
                        <th scope="col">
                            Description</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="report : ${reports}">
                        <td th:text="${report.getName()}"></td>
                        <td th:text="${report.getId()}"></td>
                        <td th:text="${report.getReportList().size()}"></td>

                        <td>
                            <a th:href="@{'/reports/{id}' (id=${report.getId()})}"
                               class="btn btn-sm btn-info edit-balloon"><i class="fa fa-details">Details</i></a>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>